In [14]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [2]:
query = """
SELECT * FROM pg_tables
WHERE schemaname = 'public'
"""
pd.read_sql(query, con = engine)

NameError: name 'pd' is not defined

Only load 200 for testing

In [8]:
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'
df_h200 = pd.read_csv(url, compression='gzip',nrows=200)
df_h200.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.00,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.00,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.00,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.00,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.00,0.3,18.95,2.5
10,2,2021-01-01 00:15:52,2021-01-01 00:38:07,3,6.11,1,N,164,255,1,20.5,0.5,0.5,0.00,0.00,0.3,24.30,2.5
11,2,2021-01-01 00:46:36,2021-01-01 00:53:45,2,1.21,1,N,255,80,1,7.0,0.5,0.5,2.49,0.00,0.3,10.79,0.0
12,1,2021-01-01 00:10:46,2021-01-01 00:32:58,2,7.40,1,N,138,166,2,24.5,2.5,0.5,0.00,6.12,0.3,33.92,0.0
13,2,2021-01-01 00:31:06,2021-01-01 00:38:52,5,1.70,1,N,142,50,1,8.0,0.5,0.5,2.36,0.00,0.3,14.16,2.5
14,2,2021-01-01 00:42:11,2021-01-01 00:44:24,5,0.81,1,N,50,142,2,4.5,0.5,0.5,0.00,0.00,0.3,8.30,2.5
15,2,2021-01-01 00:17:48,2021-01-01 00:21:55,1,1.01,1,N,236,237,1,5.5,0.5,0.5,1.00,0.00,0.3,10.30,2.5
16,2,2021-01-01 00:33:38,2021-01-01 00:38:37,1,0.73,1,N,142,239,1,5.5,0.5,0.5,2.79,0.00,0.3,12.09,2.5
17,2,2021-01-01 00:47:56,2021-01-01 00:52:53,1,1.17,1,N,238,166,1,6.5,0.5,0.5,2.06,0.00,0.3,12.36,2.5
18,2,2021-01-01 00:04:21,2021-01-01 00:07:58,1,0.78,1,N,239,238,1,4.5,0.5,0.5,1.66,0.00,0.3,9.96,2.5
19,2,2021-01-01 00:18:36,2021-01-01 00:27:10,2,1.66,1,N,151,142,2,8.5,0.5,0.5,0.00,0.00,0.3,12.30,2.5

In [9]:
df_h200.count(0)

VendorID                 200
tpep_pickup_datetime     200
tpep_dropoff_datetime    200
passenger_count          200
trip_distance            200
RatecodeID               200
store_and_fwd_flag       200
PULocationID             200
DOLocationID             200
payment_type             200
fare_amount              200
extra                    200
mta_tax                  200
tip_amount               200
tolls_amount             200
improvement_surcharge    200
total_amount             200
congestion_surcharge     200
dtype: int64

In [10]:
print(pd.io.sql.get_schema(df_h200, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

It's strange that I have some count amounts that are being interpreted as REAL
Before overriding the data type, I'll wrangle the values on the full dataset.

In [11]:
df_full = pd.read_csv(url, compression='gzip')

/tmp/ipykernel_8312/663649027.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_full = pd.read_csv(url, compression='gzip')

In [46]:
print(df_full['VendorID'].value_counts(dropna=False))
print(df_full['passenger_count'].value_counts(dropna=False))
print(df_full['RatecodeID'].value_counts(dropna=False))
print(df_full['payment_type'].value_counts(dropna=False))

2.0    860651
1.0    410762
NaN     98352
Name: VendorID, dtype: int64
1.0    966233
2.0    161670
NaN     98352
3.0     43935
5.0     31089
0.0     26726
6.0     25362
4.0     16391
7.0         5
8.0         2
Name: passenger_count, dtype: int64
1.0     1249239
NaN       98352
2.0       14858
5.0        5212
4.0        1202
3.0         856
99.0         36
6.0          10
Name: RatecodeID, dtype: int64
1.0    934473
2.0    322889
NaN     98352
3.0      8384
4.0      5667
Name: payment_type, dtype: int64

Let's safely convert them into Int

In [47]:
columns_to_convert = ['VendorID', 'passenger_count', 'RatecodeID', 'payment_type']
df_full[columns_to_convert] = df_full[columns_to_convert].astype('Int64')

Let's Check the Date fields

Null or empty values

In [36]:
print(f"tpep_pickup_datetime nulls = {df_full['tpep_pickup_datetime'].isnull().sum()}")
print(f"tpep_dropoff_datetime nulls = {df_full['tpep_dropoff_datetime'].isnull().sum()}")

tpep_pickup_datetime nulls = 0
tpep_dropoff_datetime nulls = 0

Non date values

In [37]:
df_full['tpep_pickup_datetime'].apply(lambda x: pd.to_datetime(x, errors='coerce')).isnull()
df_full['tpep_dropoff_datetime'].apply(lambda x: pd.to_datetime(x, errors='coerce')).isnull()

0          False
1          False
2          False
3          False
4          False
           ...
1369760    False
1369761    False
1369762    False
1369763    False
1369764    False
Name: tpep_dropoff_datetime, Length: 1369765, dtype: bool

In [38]:
print(f"tpep_pickup_datetime non-dates = {df_full['tpep_pickup_datetime'].apply(lambda x: pd.to_datetime(x, errors='coerce')).isnull().sum()}")
print(f"tpep_dropoff_datetime non-dates = {df_full['tpep_dropoff_datetime'].apply(lambda x: pd.to_datetime(x, errors='coerce')).isnull().sum()}")

tpep_pickup_datetime non-dates = 0
tpep_dropoff_datetime non-dates = 0

All dates from the dataset are safe to be interpreted as datetime.
Although, I would like to keep the original column just in case

In [50]:
df_full.rename(inplace=True,\
    columns = {\
        "tpep_pickup_datetime":"tpep_pickup_datetime_text",\
        "tpep_dropoff_datetime":"tpep_dropoff_datetime_text"\
        })
df_full['tpep_pickup_datetime'] = pd.to_datetime(df_full['tpep_pickup_datetime_text'], errors='coerce')
df_full['tpep_dropoff_datetime'] = pd.to_datetime(df_full['tpep_dropoff_datetime_text'], errors='coerce')

df_full.head(10)

,VendorID,tpep_pickup_datetime_text,tpep_dropoff_datetime_text,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,tpep_pickup_datetime,tpep_dropoff_datetime
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,2021-01-01 00:30:10,2021-01-01 00:36:12
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,2021-01-01 00:51:20,2021-01-01 00:52:19
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,2021-01-01 00:43:30,2021-01-01 01:11:06
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,2021-01-01 00:15:48,2021-01-01 00:31:01
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,2021-01-01 00:31:49,2021-01-01 00:48:21
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5,2021-01-01 00:16:29,2021-01-01 00:24:30
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0,2021-01-01 00:00:28,2021-01-01 00:17:28
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5,2021-01-01 00:12:29,2021-01-01 00:30:34
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0,2021-01-01 00:39:16,2021-01-01 01:00:13
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5,2021-01-01 00:26:12,2021-01-01 00:39:46

In [48]:

df_full.dtypes

VendorID                               Int64
tpep_pickup_datetime_text             object
tpep_dropoff_datetime_text            object
passenger_count                        Int64
trip_distance                        float64
RatecodeID                             Int64
store_and_fwd_flag                    object
PULocationID                           int64
DOLocationID                           int64
payment_type                           Int64
fare_amount                          float64
extra                                float64
mta_tax                              float64
tip_amount                           float64
tolls_amount                         float64
improvement_surcharge                float64
total_amount                         float64
congestion_surcharge                 float64
tpep_pickup_datetime          datetime64[ns]
tpep_dropoff_datetime         datetime64[ns]
dtype: object

In [51]:
print(pd.io.sql.get_schema(df_full, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime_text" TEXT,
  "tpep_dropoff_datetime_text" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP
)

Using dtypes result, I will create a dataframe schema

In [53]:
schema = {
    'VendorID': pd.Series(dtype=pd.Int64Dtype()),
    'tpep_pickup_datetime_text': pd.Series(dtype='object'),
    'tpep_dropoff_datetime_text': pd.Series(dtype='object'),
    'passenger_count': pd.Series(dtype=pd.Int64Dtype()),
    'trip_distance': pd.Series(dtype='float64'),
    'RatecodeID': pd.Series(dtype=pd.Int64Dtype()),
    'store_and_fwd_flag': pd.Series(dtype='object'),
    'PULocationID': pd.Series(dtype='int64'),
    'DOLocationID': pd.Series(dtype='int64'),
    'payment_type': pd.Series(dtype=pd.Int64Dtype()),
    'fare_amount': pd.Series(dtype='float64'),
    'extra': pd.Series(dtype='float64'),
    'mta_tax': pd.Series(dtype='float64'),
    'tip_amount': pd.Series(dtype='float64'),
    'tolls_amount': pd.Series(dtype='float64'),
    'improvement_surcharge': pd.Series(dtype='float64'),
    'total_amount': pd.Series(dtype='float64'),
    'congestion_surcharge': pd.Series(dtype='float64'),
    'tpep_pickup_datetime': pd.Series(dtype='datetime64[ns]'),
    'tpep_dropoff_datetime': pd.Series(dtype='datetime64[ns]')
}

# Create an empty DataFrame with the specified schema
df_empty = pd.DataFrame(schema)

In [54]:
df_empty

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime_text, tpep_dropoff_datetime_text, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, tpep_pickup_datetime, tpep_dropoff_datetime]
Index: []

In [55]:
print(pd.io.sql.get_schema(df_empty, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime_text" TEXT,
  "tpep_dropoff_datetime_text" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP
)